<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link charset="utf-8" href="css/clues.css" media="screen" rel="stylesheet" title="no title">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/icon">
    <title>Game Instructions</title>
</head>
<body>
    <div class="clues-card">
        <h1 class="main-heading">Clues and Hints to Solve the Treasure Hunt Game</h1>
        <h3 class="clues-para">Here are some tips to help you find the hidden treasures:</h3>
        <ul>
            <li>The items are old and blend seamlessly with their surroundings, matching the color of realistic objects in each room.</li>
            <br />
            <li>Treasures are evenly distributed across all rooms, so explore every area thoroughly.</li>
            <br />
            <li>Don’t forget to check the floor! Change your perspective or view angle to spot items hidden in plain sight.</li>
        </ul>
    </div>
</body>
</html>